* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-width: 100vh;
}
.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  margin-top: 150px;
  transform: scale(1.8);
}
.game-info {
  margin-left: 25px;
}
h1 {
  font-size: 22px;
  font-weight: 900;
  text-decoration: underline;
  transform: translateY(-40px);
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.btn {
 cursor: pointer;
 border-radius: 2px;
 border: 1px solid;
}
